<div class="row">
    <div class="col-xs-12">
        <img src="c:/angular-apps/movie-app/images/poca.png" alt="" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Sci-Fi</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Movie <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to cart</a></li>
                <li><a href="#">Edit a Movie options</a></li>
                <li><a href="#">Delete a Movie</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>description of movie in few words</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Cast of movie</p>
    </div>
</div>
